html,
body {
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  height: 60px;
  background-color: rgb(151, 97, 31);
  background-image: url("./TouringTanzania.png") !important;
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* Styles the hot air balloon basket foreground overlay. */
.esri-overlay-surface {
  background-image: url("./HotAirBalloon.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position-x: 65%;
  background-position-y: 120%;
}

/* Additional styling for esri components. */
#viewDiv {
  height: 92%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#optionsDiv {
  position: absolute;
  bottom: 17px;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  text-align: center;
}

button {
  background: white;
  padding: 7px;
  border: 1px solid #005e95;
  font-size: 0.9em;
  margin: 5px;
  color: #005e95;
}

button:hover {
  background: #005e95;
  color: white;
  cursor: pointer;
}
